{% if number < 1 %}
  <div class='center'>
      <table class='tab_cadre_fixe'>
      <tr><th>{{ __('No item found') }}</th></tr>
      </table>
   </div>
   <br>
{% else %}
	{{ pager|raw }}
	<table class='tab_cadre_fixehov'>
		<tr class='tab_bg_1'>
			<th width='10'>{{ __('ID') }}</th>
			<th width='10'>{{ __('Status') }}</th>
			<th width='10'>{{ __('Date') }}</th>
			<th width='10'>{{ __('Evaluation', 'orion') }}</th>
		</tr>
		{% for report in reports %}
		<tr class='tab_bg_1'>
			<td class='center'>{{ report.id }}</td>
			<td class='center'>{{ report.status }}</td>
			<td class='center'>{{ report.date_report }}</td>
			<td class='center'>{{ report.evaluation }}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}